POSTGRES_DB=lendly
POSTGRES_USER=lendly_user
POSTGRES_PASSWORD=your_password

DATABASE_URL=jdbc:postgresql://localhost:5432/lendly
DATABASE_USERNAME=lendly_user
DATABASE_PASSWORD=your_password

SERVER_PORT=8080

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
